aiofiles==24.1.0 ; python_version == "3.12"
annotated-doc==0.0.4 ; python_version == "3.12"
annotated-types==0.7.0 ; python_version == "3.12"
annoy==1.17.3 ; python_version == "3.12"
antlr4-python3-runtime==4.9.3 ; python_version == "3.12"
anyio==4.12.1 ; python_version == "3.12"
appnope==0.1.4 ; python_version == "3.12" and platform_system == "Darwin"
asttokens==3.0.1 ; python_version == "3.12"
bidict==0.23.1 ; python_version == "3.12"
blinker==1.9.0 ; python_version == "3.12"
brotli==1.2.0 ; python_version == "3.12"
catboost==1.2.8 ; python_version == "3.12"
certifi==2026.1.4 ; python_version == "3.12"
cffi==2.0.0 ; platform_python_implementation == "CPython" and python_version == "3.12" and sys_platform == "win32" or implementation_name == "pypy" and python_version == "3.12"
charset-normalizer==3.4.4 ; python_version == "3.12"
click==8.3.1 ; python_version == "3.12"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.12"
comm==0.2.3 ; python_version == "3.12"
configargparse==1.7.1 ; python_version == "3.12"
contourpy==1.3.3 ; python_version == "3.12"
cycler==0.12.1 ; python_version == "3.12"
debugpy==1.8.20 ; python_version == "3.12"
decorator==5.2.1 ; python_version == "3.12"
executing==2.2.1 ; python_version == "3.12"
fastapi==0.129.0 ; python_version == "3.12"
ffmpy==1.0.0 ; python_version == "3.12"
filelock==3.24.0 ; python_version == "3.12"
flask-cors==6.0.2 ; python_version == "3.12"
flask-login==0.6.3 ; python_version == "3.12"
flask==3.1.2 ; python_version == "3.12"
fonttools==4.61.1 ; python_version == "3.12"
fsspec==2026.2.0 ; python_version == "3.12"
gevent==25.9.1 ; python_version == "3.12"
geventhttpclient==2.3.7 ; python_version == "3.12"
gradio-client==2.0.3 ; python_version == "3.12"
gradio==6.5.1 ; python_version == "3.12"
graphviz==0.21 ; python_version == "3.12"
greenlet==3.3.1 ; python_version == "3.12" and platform_python_implementation == "CPython"
groovy==0.1.2 ; python_version == "3.12"
grpcio-tools==1.78.0 ; python_version == "3.12"
grpcio==1.78.0 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
h2==4.3.0 ; python_version == "3.12"
hf-xet==1.2.0 ; python_version == "3.12" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version == "3.12"
httpcore==1.0.9 ; python_version == "3.12"
httpx==0.28.1 ; python_version == "3.12"
huggingface-hub==1.4.1 ; python_version == "3.12"
hyperframe==6.1.0 ; python_version == "3.12"
idna==3.11 ; python_version == "3.12"
implicit==0.7.2 ; python_version == "3.12"
iniconfig==2.3.0 ; python_version == "3.12"
ipykernel==7.2.0 ; python_version == "3.12"
ipython-pygments-lexers==1.1.1 ; python_version == "3.12"
ipython==9.10.0 ; python_version == "3.12"
itsdangerous==2.2.0 ; python_version == "3.12"
jedi==0.19.2 ; python_version == "3.12"
jinja2==3.1.6 ; python_version == "3.12"
jupyter-client==8.8.0 ; python_version == "3.12"
jupyter-core==5.9.1 ; python_version == "3.12"
kiwisolver==1.4.9 ; python_version == "3.12"
locust==2.43.3 ; python_version == "3.12"
loguru==0.7.3 ; python_version == "3.12"
markdown-it-py==4.0.0 ; python_version == "3.12"
markupsafe==3.0.3 ; python_version == "3.12"
matplotlib-inline==0.2.1 ; python_version == "3.12"
matplotlib==3.10.8 ; python_version == "3.12"
mdurl==0.1.2 ; python_version == "3.12"
msgpack==1.1.2 ; python_version == "3.12"
narwhals==2.16.0 ; python_version == "3.12"
nest-asyncio==1.6.0 ; python_version == "3.12"
numpy==2.4.2 ; python_version == "3.12"
omegaconf==2.3.0 ; python_version == "3.12"
orjson==3.11.7 ; python_version == "3.12"
packaging==26.0 ; python_version == "3.12"
pandas==3.0.0 ; python_version == "3.12"
parso==0.8.6 ; python_version == "3.12"
pexpect==4.9.0 ; python_version == "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.1.1 ; python_version == "3.12"
platformdirs==4.8.0 ; python_version == "3.12"
plotly==6.5.2 ; python_version == "3.12"
pluggy==1.6.0 ; python_version == "3.12"
polars-runtime-32==1.38.1 ; python_version == "3.12"
polars==1.38.1 ; python_version == "3.12"
portalocker==2.10.1 ; python_version == "3.12"
prompt-toolkit==3.0.52 ; python_version == "3.12"
protobuf==6.33.5 ; python_version == "3.12"
psutil==7.2.2 ; python_version == "3.12"
ptyprocess==0.7.0 ; python_version == "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version == "3.12"
pyarrow==23.0.0 ; python_version == "3.12"
pycparser==3.0 ; platform_python_implementation == "CPython" and python_version == "3.12" and sys_platform == "win32" and implementation_name != "PyPy" or implementation_name == "pypy" and python_version == "3.12"
pydantic-core==2.41.5 ; python_version == "3.12"
pydantic==2.12.5 ; python_version == "3.12"
pydub==0.25.1 ; python_version == "3.12"
pygments==2.19.2 ; python_version == "3.12"
pyparsing==3.3.2 ; python_version == "3.12"
pytest==9.0.2 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-engineio==4.13.1 ; python_version == "3.12"
python-multipart==0.0.22 ; python_version == "3.12"
python-socketio==5.16.1 ; python_version == "3.12"
pytz==2025.2 ; python_version == "3.12"
pywin32==311 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.12"
pyyaml==6.0.3 ; python_version == "3.12"
pyzmq==27.1.0 ; python_version == "3.12"
qdrant-client==1.7.0 ; python_version == "3.12"
redis==7.1.1 ; python_version == "3.12"
requests==2.32.5 ; python_version == "3.12"
rich==14.3.2 ; python_version == "3.12"
safehttpx==0.1.7 ; python_version == "3.12"
scipy==1.17.0 ; python_version == "3.12"
semantic-version==2.10.0 ; python_version == "3.12"
setuptools==82.0.0 ; python_version == "3.12"
shellingham==1.5.4 ; python_version == "3.12"
simple-websocket==1.1.0 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
stack-data==0.6.3 ; python_version == "3.12"
starlette==0.52.1 ; python_version == "3.12"
threadpoolctl==3.6.0 ; python_version == "3.12"
tomlkit==0.13.3 ; python_version == "3.12"
tornado==6.5.4 ; python_version == "3.12"
tqdm==4.67.3 ; python_version == "3.12"
traitlets==5.14.3 ; python_version == "3.12"
typer-slim==0.23.1 ; python_version == "3.12"
typer==0.23.1 ; python_version == "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
typing-inspection==0.4.2 ; python_version == "3.12"
tzdata==2025.3 ; python_version == "3.12" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==1.26.20 ; python_version == "3.12"
uvicorn==0.40.0 ; python_version == "3.12"
wcwidth==0.6.0 ; python_version == "3.12"
websocket-client==1.9.0 ; python_version == "3.12"
werkzeug==3.1.5 ; python_version == "3.12"
win32-setctime==1.2.0 ; python_version == "3.12" and sys_platform == "win32"
wsproto==1.3.2 ; python_version == "3.12"
zope-event==6.1 ; python_version == "3.12"
zope-interface==8.2 ; python_version == "3.12"
